<aside class="sidebar">
  <!-- Header -->
  <div class="sidebar-header flex items-center gap-2">
    <img src="/assets/logo.png" class="w-10 h-10 rounded-full border-2 border-red-600">
    <span>ClipperCloud</span>
  </div>

  <!-- Navegación -->
  <nav class="sidebar-nav">
    <a routerLink="home" routerLinkActive="active">
      <i class="lucide lucide-layout-dashboard"></i>
      Dashboard
    </a>
    <a routerLink="customers" routerLinkActive="active">
      <i class="lucide lucide-users"></i>
      Clientes
    </a>
    <a routerLink="barbers" routerLinkActive="active">
      <i class="lucide lucide-users"></i>
      Barbers
    </a>
  </nav>
</aside>
